button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    background: transparent;
    color: #808080;
    cursor: pointer;
}

button:hover {
    color: #000;
    border-color: #000;
}

.button-inline {
    background: transparent;
    color: inherit;
    text-align: inherit;
    -webkit-font-smoothing: inherit;
    font-size: inherit;
    cursor: pointer;
}

.button-active {
    border-radius: 0;
    border-bottom: 1px solid #38BB6C;
}

.button-active:after,
.button-reverse:after{
    margin-left: 5px;
}

.button-active:after{
    content: "↓";
}

.button-reverse:after{
    content: "↑";
}
